<aside class="sidebar">

  <div class="clock">
    <div class="clock-time">
      <span class="clock-digits">{{ time() }}</span>
      <span class="clock-period">{{ period() }}</span>
    </div>
    <div class="clock-day">{{ day() }}</div>
    <div class="clock-date">{{ date() }}</div>
  </div>

  <nav class="nav">
    <a class="nav-item" routerLink="/client" routerLinkActive="active">
      <lucide-icon [img]="UserIcon"></lucide-icon>
      Client
    </a>
    <a class="nav-item" routerLink="/transactions" routerLinkActive="active">
      <lucide-icon [img]="DollarIcon"></lucide-icon>
      Transactions
    </a>
    <a class="nav-item" >
      <lucide-icon [img]="PaletteIcon"></lucide-icon>
      Theme
    </a>
  </nav>

  <div class="user-info">
    <div class="avatar">GP</div>
    <div class="user-details">
      <span class="user-name">Georgi Petrov</span>
    </div>
  </div>
</aside>
